/* .memoryGameContainer{
    border:solid rgb(238, 19, 19);   
    
} */
 #gameContainer{
    border:solid red;
    width:80%;
    height:90vh;
    text-align: center;
    display: none;
    margin-right: auto;
    margin-left: auto;
 }
.grid-container{
    display:grid;   
    grid-template-columns: repeat(4,200px);   
    grid-template-rows: repeat(4,200px); 
    grid-gap:10px;
    place-self: center;   
}
.grid-item{
    border:solid black;    
   
}
.grid-item img{
    max-width: 90%;
    max-height: 90%;   
    height:auto;
    object-fit: contain;
    border:solid green; 
  
    display:none;
}
.grid-item.flipped img{
    display:block;
}
.grid-item.matched {
    background-color: green;
}
#pinInput{
    border: solid darkblue;
    background-color: blue;
    color:white;
    height:30%;
    width:60%;
    border-radius:5%;  
    margin-top: 1em; 
    font-size: 20px;
    text-align: center;
 }
 ::placeholder{
    color:white;
    text-align:center ;
    font-size: 15px;
 }
 #pinBtn{
    width:50px;
    border:solid darkblue;
    background-color: blue;
    margin-top: 5px;
    color:white;     
 }
